{% extends 'base.html.twig' %}
{% block stylesheet %}
{% endblock %}
{% block body %}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

    <h1>Stock edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <center><input type="submit" value="Modifier" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" /></center> <br>


    {{ form_end(edit_form) }}

    <center>  <a href="{{ path('stock_index') }}" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" >Retour</a></center>


{% endblock %}
