{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
        {{ form_widget(form) }}
 <div class="modal-footer">
     <center><input type="submit" value="Ajouter" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" /></center>

 </div>
 {{ form_end(form) }}


